<!DOCTYPE html>
<html>
  {% load static %}
    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says...hello world!</h1>

	{% if categories %}
		<ul>
		  {% for category in categories %}
		  <li><a href ="/rango/category/{{ category.url }}/">{{ category.name }}</a></li>
		  {% endfor %}
		</ul>

		{% if pages %}
		<h2>Most popular pages on Rango today!</h2>
		<ul>
		  {% for page in pages %}
		     <li>Views {{page.views}} <a href ="{{ page.url }}">{{ page.title }}</a></li>
		  {% endfor %}
		</ul>
		{% else %}
		<h2>No sweet pages today</h2>
		{% endif %}
	{% else %}
		<strong> Why are there no categories :-( </strong>
	{% endif %}

        <a href="/rango/about/">About</a><br />
	<img src="{% static 'rango.jpg' %}" alt="Picture of rango" />
    </body>

</html>
